.clientes-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .clientes-container {
    width: 80%;
    max-width: 1000px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .cliente {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
    transition: transform 0.3s ease;
  }

  .cliente h3 {
    font-size: 22px;
    color: #258b62;
    margin-bottom: 15px;
  }

  .cliente p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }

  .cliente img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .cliente:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }